body{
    background-size:cover;
    background-position: center;
}
#song_name{
    font-size: 20px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px plum;
    width:20%;
    margin-bottom: 300px;
}
#heading{
    margin-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 5px plum;
    font-size:23px;
    width:100%;
}
canvas{
    box-shadow: 5px 5px 5px plum;
    margin-inline: 10px;
    border-style: dashed;
    border-color: white;
}